body {
  justify-content: space-between;
  align-items: center;
}

.history {
  height: 60px;
  overflow-y: auto;
  font-size: 12px;
  color: gray;
  margin: 10px 0;
}

.display {
  width: 100%;
  height: 50px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 10px;
  padding: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 50px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.equal {
  grid-column: span 2;
  background: #28a745;
  color: white;
  color: rgb(15, 3, 3);
}

.zero {
  grid-column: span 2;
}
