:root {
  --bg: #f4f4f4;
  --calc: #ffffff;
  --text: #000;
  --btn: #e0e0e0;
  --operator: #ff9500;
}

body.dark {
  --bg: #121212;
  --calc: #1e1e1e;
  --text: #ffffff;
  --btn: #2c2c2c;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background: var(--calc);
  padding: 20px;
  border-radius: 20px;
  width: 320px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text);
}

#themeToggle {
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.history {
  height: 70px;
  overflow-y: auto;
  font-size: 12px;
  color: gray;
  margin: 10px 0;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 65px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #bfbfbf; /* Borda padrão calculadora */
  border-radius: 6px; /* Menos arredondado */
  background: #f2f2f2; /* Cinza/fw padrão */
  cursor: pointer;
  box-shadow: inset 0 -2px 0 rgba(0,0,0,0.1);
  transition: 0.1s;
}

button:hover {
  background: #e6e6e6;
}

button:active {
  background: #d9d9d9;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.2); /* Efeito pressionado */
  transform: scale(0.98);
}

#display {
  width: 95%;
  height: 70px; /* Barrinha maior */
  font-size: 32px; /* Número maior */
  text-align: right;
  margin-bottom: 12px;
  padding: 10px;
  border: 1px solid #bfbfbf;
  border-radius: 8px;
  background: #ffffff;
}